@import "tailwindcss";

:root {
  --background: #1e1e1e;
  --foreground: #ffffff;

  --fitlog-lime: #ccff00;
  --fitlog-dark: #1e1e1e;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: var(--background);
  color: var(--foreground);
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}

button {
  cursor: pointer;
}